/* Miguel Delgado Site CSS */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.md-container{
  position: relative;
  height: 100vh;
}

.center{
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.personal-img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.img-wrapper{
  width: 20vh;
  height: 22vh;
  object-fit: cover;
  margin: 0 auto;
}

.options-wrapper{
  width: 100%;
  text-align: right;
  padding-top: 10px;
}

.shadow{
  -webkit-box-shadow: 5px 12px 65px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 12px 65px -19px rgba(0,0,0,0.75);
  box-shadow: 5px 12px 65px -19px rgba(0,0,0,0.75);
}


.name{
  text-align: center;
  display: block;
  font-size: 26px;
}

.profession{
  text-align: center;
  font-size: 26px;
}

.md-font{
  font-family: 'Indie Flower', cursive;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}